<h1>Users#index</h1>

<%= link_to 'Back to Home', '/' %>

<% @users.each do |user| %>
    <p>
    <%= user.name + '/' + user.password + '/' %>
    <% follow = Follow.find_by(user_id: @login_user.id, following_user_id: user.id) %>
    <% if follow.nil? %>
        Not following.
        <%= button_to 'Follow this account', controller: 'follows', params: { user_id: @login_user, following_user_id: user.id } %>
    <% else %>
        Following.
        <%= button_to 'Unfollow this account', follow_path(follow.id), method: :delete %>
    <% end %>
    </p>
    <p>
    <%= button_to 'Delete this account', user_path(user.id), method: :delete %>
        
    </p>
<% end %>